body {
  font-family: Roboto, Noto Sans SC, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, "Microsoft Sans Serif", WenQuanYi Micro Hei, sans-serif;
  margin: 0;
}

mdui-navigation-drawer {
  position: fixed!important;
  mdui-list {
    padding: unset;
  }
}
* {
  scroll-behavior: smooth;
}

main {
  padding:0.5rem 1rem;
}

@media (min-width: 600px) {
  main {
    padding:1rem 2rem
  }
}

@media (min-width: 840px) {
  main {
    padding:1rem 3rem
  }
}

@media (min-width: 1080px) {
  main {
    padding:1rem 4rem
  }
}

@media (min-width: 1440px) {
  main {
    padding-right:1.5rem
  }
}

h2 > a {
  color: inherit !important;
  position: relative;
  border-bottom: 0 solid rgb(var(--mdui-color-primary)) !important;
}

h2 > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: .0625rem;
  background-color: rgb(var(--mdui-color-primary));
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  border-radius: var(--mdui-shape-corner-medium);
}

h2 > a:hover::after {
  width: 100%;
}

div.stat {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--mdui-shape-corner-medium);
  display: flex;
  min-width: 10rem;
}

div.stat mdui-button{
  min-height: 40px;
  height: auto;
}

div.stat label {
  padding: 0 0.5rem;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.stat.pending label{
  background-color: #ab5810;
}

div.stat.success label{
  background-color: #124116;
}

div.stat.fail label{
  background-color: #801313;
}

.without.radius {
  border-radius: var(--mdui-shape-corner-none);
}

mdui-tab-panel {
  margin: 0.5rem 1rem !important;
}

mdui-tab-panel mdui-divider {
  margin: 0.5rem 0;
}
mdui-tab-panel > .container {
  //box-shadow: 0 0.5px 1.5px 0 rgba(var(--mdui-color-shadow), 19%), 0 0 1px 0 rgba(0,0,0, 3.9%);
  max-height: 70vh;
  min-height: 10rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: row wrap;
}

mdui-divider {
  margin: .5rem 0 ;
}

mdui-card.float-card {
  mdui-collapse > mdui-collapse-item::part(header) {
    position: sticky;
    top: 0;
    background-color: rgb(var(--mdui-color-on-secondary));
    opacity: 1;
    z-index: 1;
  }
  mdui-list-item::part(container) {
    min-height: 2.5rem;
    padding: 0 1rem;
  }
  mdui-list-item::part(headline) {
    display: inherit;
  }
}