@media (min-width: 1200px) {
  div#data-select {
    display: block!important;
  }
  div#data-result {
    width: calc(100% - 17.25rem);
  }
}

mdui-dialog::part(panel) {
  min-width: 50%;
  max-width: 500px;
}